.calendar-header {
  position: fixed;
  margin-left: 281px;
  cursor: default;
  background-color: var(--el-bg-color);
  transition: width 0.4s;

  &__head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--el-border-color);

    &__legend {
      display: flex;
      align-items: center;
      margin-right: 32px;

      &-title {
        font-size: 18px;
        color: var(--el-text-color-primary);
        margin-right: 5px;
      }
    }
  }

  &__days-wrapper {
    display: flex;

    &__day {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 41px;
      width: 100%;
      border-bottom: 1px solid var(--el-border-color);
      overflow: hidden;

      &--number {
        font-size: 12px;
        font-weight: 600;
        color: var(--el-text-color-primary);
      }

      &--name {
        font-size: 10px;
        color: var(--el-text-color-regular);
      }

      .icon-wrapper {
        position: absolute;
        top: 5px;
        right: 5px;

        .preHoliday-icon-circle,
        .holiday-icon-circle {
          position: absolute;
          right: -14px;
          top: -14px;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .holiday-icon-circle {
          background-color: var(--el-color-error);
        }

        .preHoliday-icon-circle {
          background-color: var(--el-color-info);
        }

        .holiday-icon {
          position: absolute;
          right: -2px;
          top: -9.5px;
        }
      }

      &.weekend {
        background-color: var(--el-color-success-light-9);
      }

      &.holiday {
        background-color: var(--el-color-danger-light-9);

        .calendar-header__days-wrapper__day--number,
        .calendar-header__days-wrapper__day--name {
          color: var(--el-color-danger);
        }
      }

      &.preHoliday {
        background-color: var(--el-color-success-light-9);
      }
    }
  }
}