.day {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;

  &-birthday-cirle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -10px;
    background-color: var(--el-additional-color-special);
    border-radius: 50%;
  }

  &-birhday-icon {
    position: absolute;
    bottom: -7px;
  }

  .special-day {
    position: absolute;
    top: -10px;
    left: -10px;

    &--cirle {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: var(--el-color-success-dark-2);
      border-radius: 50%;
    }

    &--info-icon {
      position: absolute;
      top: 2px;
      left: 12px;
    }
  }

  &-vacation,
  &-business-trip,
  &-sick,
  &-personal,
  &-maternity-leave {
    .day-circle {
      cursor: default !important;
    }
  }

  &-birthday {
    border: 1px solid var(--el-additional-color-special);
  }

  &-vacation {
    background-color: var(--el-color-primary);

    .day-circle {
      border: 1px dashed var(--el-color-success);
    }
  }

  &-business-trip {
    background-color: var(--el-color-info);

    .day-circle {
      border: 1px dashed var(--el-color-success-light-9);
    }
  }

  &-sick {
    background-color: var(--el-color-category-top);

    .day-circle {
      border: 1px dashed var(--el-color-info);
    }
  }

  &-personal {
    background-color: var(--el-fill-color-darker);

    .day-circle {
      border: 1px dashed var(--el-color-primary);
    }
  }

  &-maternity-leave {
    background-color: var(--el-color-info-light-9);
  }

  &-holiday {
    background-color: var(--el-color-danger-light-9);
  }

  &-weekend,
  &-preHoliday {
    background-color: var(--el-color-success-light-9);
  }

  .day-circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;

    &-success {
      background: var(--el-color-success);
    }

    &-warning {
      background: var(--el-color-warning);
    }

    &-danger {
      background: var(--el-color-danger);
    }

    &-future {
      cursor: default;
      border: 1px solid var(--el-color-success);
      background: transparent;
    }
  }
}
