.day {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;

  &-birthday-cirle {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    background-color: $el-additional-color-special;
    border-radius: 50%;
  }

  &-birhday-icon {
    position: absolute;
    top: -8px;
  }

  &-vacation,
  &-business-trip,
  &-sick,
  &-personal,
  &-maternity-leave {
    .day-circle {
      cursor: default !important;
    }
  }

  &-birthday {
    border: 1px solid $el-additional-color-special;
  }

  &-vacation {
    background-color: $el-color-primary;

    .day-circle {
      border: 1px dashed $el-color-success;
    }
  }

  &-business-trip {
    background-color: $el-color-info;

    .day-circle {
      border: 1px dashed $el-color-success-light-3;
    }
  }

  &-sick {
    background-color: $el-color-category-top;

    .day-circle {
      border: 1px dashed $el-color-info;
    }
  }

  &-personal {
    background-color: $el-fill-color-darker;

    .day-circle {
      border: 1px dashed $el-color-primary;
    }
  }

  &-maternity-leave {
    background-color: $el-color-info-light-9;
  }

  &-holiday {
    background-color: $el-color-danger-light-9;
  }

  &-weekend,
  &-preHoliday {
    background-color: $el-color-success-light-9;
  }

  .day-circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;

    &-success {
      background: $el-color-success;
    }

    &-warning {
      background: $el-color-warning;
    }

    &-danger {
      background: $el-color-danger;
    }

    &-future {
      cursor: default;
      border: 1px solid $el-color-success;
      background: $el-color-white;
    }
  }
}
