.employee {
  display: flex;
  justify-content: space-between;
  width: 16.5rem;

  &__card {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
  }

  &--avatar {
    position: relative;
    height: 33px;
    width: 33px;

    &--online-indicator {
      position: absolute;
      bottom: -2px;
      right: -2px;
      width: 8px;
      height: 8px;
      border: 2px solid var(--el-fill-color-light);
      background-color: var(--el-color-success);
      border-radius: 50%;
    }

    &--offline-indicator {
      position: absolute;
      bottom: -2px;
      right: -2px;
      width: 8px;
      height: 8px;
      border: 2px solid var(--el-fill-color-light);
      background-color: var(--el-color-danger);
      border-radius: 50%;
    }
  }

  &__info {
    margin-left: 10px;
    color: var(--el-text-color-primary);

    &__name-wrapper {

      &--name {
        margin: 5px 0 0 0;
        line-height: 1;
        font-weight: 600;
      }
    }

    &--phone {
      margin: 0;
      color: var(--el-text-color-secondary);
      font-size: 10px;

      &::selection {
        background:var(--rkrs-color-info);
        color: var(--el-color-white);
      }
    }
  }

  &--success {
    flex-shrink: 0;
    color: var(--el-color-success);
    margin-right: 1rem;
  }

  &--backslash {
    color: var(--el-text-color-disabled);
  }

  &--danger {
    color: var(--el-color-danger);
  }
}