.menu {
  position: fixed;

  .unread-count {
    position: absolute;
    right: 10px;
    font-size: 12px;
    line-height: 16px;
    color: var(--el-color-white);
    text-align: center;
    border-radius: 10px;
    padding: 2px 6px 2px 6px;
    background-color: var(--el-color-success);
  }

  .unread-count-dot {
    position: absolute;
    width: 6.5px;
    height: 6.5px;
    top: 10.8px;
    right: 11.7px;
    background-color: var(--el-color-success);
    border-radius: 50%;
  }

  .el-menu-item.is-active {
    background-color: var(--el-color-success-light-8);
    color: var(--el-color-primary);
  }

  &__list:not(.el-menu--collapse) {
    display: flex;
    justify-content: flex-start;
    max-width: 16.5rem;
    height: 100vh;
    background-color: var(--el-bg-color);
  }

  &__list {
    display: flex;
    justify-content: center;
    max-width: 3.75rem;
    height: 100vh;
    background-color: var(--el-bg-color);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-left: 1.34375rem;
    height: 2.5rem;
    width: 100%;
    margin-top: 1rem;
    cursor: default;
  }

  &__header-collapsed {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
    margin-top: 1rem;
    margin-left: 1.3125rem;
    height: 2.5rem;
    width: 50%;
    cursor: pointer;

    &:hover {
      background-color: var(--el-color-success-light-9);
      border-radius: 0.5rem;
    }
  }

  &__icon-company {
    margin-bottom: 0.1875rem;
  }

  &__title {
    font-weight: 900 !important;
    font-size: 1.5rem;
    margin-left: 0.3125rem;
    color: var(--el-text-color-primary);
  }

  &__icon-colapse {
    display: flex;
    align-items: center;
    margin-top: 0.1875rem;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;

    &:hover {
      background-color: var(--el-color-success-light-9);
      border-radius: 0.5rem;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: 0.85rem;
    margin-left: 1.0625rem;
    transition: none;
    height: 2.5rem;
    border-radius: 0.5rem;
    width: 104%;

    &:hover {
      background-color: var(--el-color-success-light-9);
    }
  }

  &__item-collapsed {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.27rem !important;
    margin-top: 0.85rem;
    transition: none;
    height: 2.5rem;
    border-radius: 0.5rem;
    width: 50%;

    &:hover {
      background-color: var(--el-color-success-light-9);
    }
  }

  .el-icon-time,
  .el-icon-news {
    margin: 0;
  }

  .is-active {
    cursor: default;
    color: var(--el-color-primary);
  }

  &__icon {
    position: absolute;
    left: 0.625rem;
    color: var(--el-text-color-primary);
    font-size: 1.5rem !important;
    line-height: 1.25rem;
  }

  &__icon-collapsed {
    font-size: 1.5rem !important;
    color: var(--el-text-color-primary);
    line-height: 1.25rem;
  }

  &__icon-settings {
    position: inherit;
  }

  &__label {
    line-height: 1.5625rem;
    font-weight: 600;
    margin-left: 1.875rem;
    color: var(--el-text-color-primary);
  }

  &__label-active {
    color: var(--el-color-primary);
  }

  &__label-settings {
    margin-left: 1.625rem;
  }

  &__item-settings {
    margin-left: 1.0625rem;
    margin-bottom: 1.25rem;
    border: 0.0625rem solid var(--el-border-color);
    cursor: pointer;

    &:hover {
      background-color: var(--el-color-success-light-9);
    }

    &:focus {
      background-color: transparent;
    }
  }

  .active-settings {
    border: 0.0625rem solid var(--el-color-primary);
    background-color: var(--el-color-success-light-8);
  }

  .active-icon {
    color: var(--el-color-primary);
  }
}
