.employee-search {
  position: relative;
  background-color: var(--el-bg-color);
  border-radius: 4px;
  width: 248px;
  font-size: 12px;
  font-weight: 600;

  .search-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid var(--el-color-primary-light-8);
    border-radius: 4px;
    background-color: var(--el-bg-color);
    cursor: text;

    &--active {
      border: 1px solid var(--el-color-primary);
      border-radius: 4px 4px 0 0;
    }

    &__employees-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--all_close {
        margin-right: 10px;
        cursor: pointer;
      }

      .employees {
        display: flex;

        .employee-tag {
          display: flex;
          width: fit-content;
          align-items: center;
          background-color: var(--el-color-primary-light-9);
          border: 1px solid var(--el-color-primary-light-8);
          border-radius: 4px;
          color: var(--el-color-primary);
          padding: 2px 0 2px 5px;
          margin-left: 5px;
          cursor: default;

          &--icon {
            margin-top: 5px;
            cursor: pointer;
          }
        }

        .more {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--el-color-primary-light-9);
          border: 1px solid var(--el-color-primary-light-8);
          border-radius: 4px;
          color: var(--el-color-primary);
          padding: 2px 0 2px 0;
          margin-left: 10px;
          width: 30px;
          cursor: default;

          .tag-wrapper {
            display: flex;
            flex-direction: column;
          }

          .popover {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            top: 150%;
            left: -10px;
            background-color: var(--el-bg-color);
            padding: 10px;
            border: 1px solid var(--el-border-color);
            border-radius: 5px;
            width: 200px;
            z-index: 1;

            &::before,
            &::after {
              content: "";
              position: absolute;
              left: 10px;
              transform: translateX(50%);
              width: 14px;
              height: 14px;
              background-color: var(--el-bg-color);
            }

            &::before {
              top: -7px;
              background-color: var(--el-border-color);
              z-index: 1;
            }

            &::after {
              top: -6px;
              z-index: 2;
            }

            &::before,
            &::after {
              transform: translateX(50%) rotate(45deg);
            }

            .employee-tag:not(:last-child) {
              margin-bottom: 5px;
            }
          }

          .clear-all {
            text-align: center;
            margin-top: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .employee-list {
    position: absolute;
    left: 0;
    width: 99.3%;
    font-weight: 400;
    height: 252px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--el-bg-color);
    border-bottom: 1px solid var(--el-color-primary);
    border-radius: 0 0 4px 4px;
    border-left: 1px solid var(--el-color-primary);
    border-right: 1px solid var(--el-color-primary);
    z-index: 1;
    scrollbar-width: thin; /* Добавить для Firefox */
    scrollbar-color: transparent transparent; /* Добавить для Firefox */

    &::-webkit-scrollbar {
      width: 4px; /* Ширина ползунка */
    }

    &::-webkit-scrollbar-track {
      margin-top: 5px;
      margin-bottom: 5px;
      background: transparent; /* Цвет трека (дорожки прокрутки) */
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(144, 146, 152, 0.3); /* Цвет ползунка */
      border-radius: 4px; /* Скругление углов ползунка */
    }

    &:hover {
      scrollbar-color: rgba(144, 146, 152, 0.3) transparent; /* для Firefox */

      &::-webkit-scrollbar-thumb {
        background-color: rgba(144, 146, 152, 0.3);
      }
    }

    &__department {
      font-size: 12px;
      color: var(--el-text-color-secondary);
      cursor: default;

      &--name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px 0px 10px;

        button {
          border: 1px solid var(--el-color-primary-light-7);
          cursor: pointer;
          padding: 8px 15px;
          font-weight: 600;
          font-size: 12px;
          color: var(--el-text-color-regular);
          border-radius: 4px;
          background-color: var(--el-bg-color);

          &:hover {
            background-color: var(--el-color-primary-light-9);
            color: var(--el-color-primary);
          }
        }
      }

      hr {
        border: none;
        border-top: 1px solid var(--el-border-color-light);
      }
    }

    &__employee {
      padding: 10px 0 10px 10px;
      width: 100%;
      font-size: 14px;
      color: var(--el-text-color-regular);
      cursor: pointer;
      &:hover {
        background-color: var(--el-fill-color-light);
      }
    }
  }

  .input-wrapper {
    position: relative;

    .search-icon {
      position: absolute;
      left: 5px;
      top: 2px;
      color: var(--el-text-color-disabled);
    }

    input {
      height: 100%;
      flex-grow: 1;
      border: none;
      color: var(--el-text-color-primary);
      outline: none;
      margin-left: 20px;
      background-color: var(--el-bg-color);

      &::selection {
        background: var(--el-color-info);
        color: var(--el-color-white);
      }

      &::placeholder {
        color: var(--el-text-color-disabled);
      }
    }
  }
}
