// Цвета
$color-primary: #17505b;
$main-palette-primary-darker-20: #124049;
$color-info: #2f80ed;
$color-warning: #f2994a;
$color-danger: #eb5757;
$color-success: #6fcf97;
$border-color-extra-light: #f3f6f7;
$main-palette-success-background: #f1faf5;
$main-palette-success-border: #e2f5ea;
$main-palette-background-base: #f5f7fa;
$color-black: #1d343f;
$border-color-lighter: #e8eeef;
$border-color-light: #d1dcde;
$border-color-base: #bacbce;
$text-color-nav: #313942;
$text-color-nav-title: #000000;
$main-palette-neutral-dark-gray: #303133;
$main-palette-neutral-midgray: #909399;
$main-palette-neutral-gray: #606266;
$main-palette-eutral-light-gray: #c0c4cc;

.el-popper.is-dark {
  background-color: $color-primary !important;
}
