.employee {
  display: flex;
  justify-content: space-between;
  width: 16.5rem;

  &__card {
    display: flex;
    align-items: center;
  }

  &--avatar {
    position: relative;
    height: 33px;
    width: 33px;

    &--online-indicator {
      position: absolute;
      bottom: -2px;
      right: -2px;
      width: 8px;
      height: 8px;
      border: 2px solid $el-fill-color-light;
      background-color: $el-color-success;
      border-radius: 50%;
    }

    &--offline-indicator {
      position: absolute;
      bottom: -2px;
      right: -2px;
      width: 8px;
      height: 8px;
      border: 2px solid $el-fill-color-light;
      background-color: $el-color-danger;
      border-radius: 50%;
    }
  }

  &__info {
    margin-left: 10px;
    color: $el-text-color-primary;

    &__name-wrapper {
      display: flex;
      align-items: flex-end;
      cursor: default;

      &--name {
        margin: 5px 0 0 0;
        line-height: 1;
        font-weight: 600;
      }

      &--edit-icon {
        font-size: 12px;
        color: $el-text-color-disabled;
        margin-left: 5px;
      }
    }

    &--phone {
      margin: 0;
      color: $el-text-color-secondary;
      font-size: 10px;

      &::selection {
        background:$el-color-info;
        color: $el-color-white;
      }
    }
  }

  &--success {
    flex-shrink: 0;
    color: $el-color-success;
    margin-right: 1rem;
    cursor: default;
  }

  &--backslash {
    color: $el-text-color-disabled;
  }

  &--danger {
    color: $el-color-danger;
  }
}