body {
  font-size: 0.875rem;
  font-family: 'Roboto', sans-serif;
}

// Полоса прокрутки
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Цвет фона дорожки прокрутки */
}

::-webkit-scrollbar-thumb {
  background: rgba(144, 146, 152, 0.30); /* Цвет самой полосы прокрутки */
  border-radius: 4px; /* Скругление углов полосы прокрутки */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(144, 146, 152, 0.60); /* Цвет полосы прокрутки при наведении */
}

/* Стили для Firefox */
html {
  scrollbar-width: thin; /* Устанавливаем тонкую полосу прокрутки */
  scrollbar-color: rgba(144, 146, 152, 0.30) transparent; /* Цвет полосы прокрутки и дорожки */
}

.el-popper.is-dark {
  background-color: $color-primary !important;
  border: none !important;
}

.el-popper.is-dark .el-popper__arrow::before {
  border: none !important;
  background: $color-primary !important;
}
