::selection {
  background: none;
}

::-moz-selection {
  background: none;
}

body {
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--el-bg-color);
}

// Полоса прокрутки
/* Для Chrome, Safari и Opera */
::-webkit-scrollbar {
  width: 0px; /* Убираем полосу прокрутки */
  background: transparent; /* Делаем ее прозрачной */
}

/* Для Firefox */
html {
  scrollbar-width: none; /* Убираем полосу прокрутки */
}

// Меню
.el-menu {
  border-right: 1px solid var(--el-border-color);
}

// Цвет подсказки меню
.menu-custom-tooltip {
  background-color: var(--el-color-primary) !important;
  color: var(--el-color-white) !important;
  border: none !important;
}

.menu-custom-tooltip .el-popper__arrow::before {
  border: none !important;
  background: var(--el-color-primary) !important;
}

// Цвет подсказки предпразднечных дней
.preHoliday-custom-tooltip {
  background-color: var(--el-color-info) !important;
  border: none !important;
  color: var(--el-color-white) !important;
  margin-bottom: 5px;
}

.preHoliday-custom-tooltip .el-popper__arrow::before {
  border: none !important;
  background: var(--el-color-info) !important;
}

// Цвет подсказки празднечных дней
.holiday-custom-tooltip {
  background-color: var(--el-color-danger) !important;
  border: none !important;
  color: var(--el-color-white) !important;
  margin-bottom: 5px;
}

.holiday-custom-tooltip .el-popper__arrow::before {
  border: none !important;
  background: var(--el-color-danger) !important;
}

// Цвет подсказки особенных дней
.special-day-custom-tooltip {
  background-color: var(--el-color-success-dark-2) !important;
  border: none !important;
  margin-bottom: -10px;
  color: var(--el-color-white) !important;
  margin-left: 15px;
}

.special-day-custom-tooltip .el-popper__arrow::before {
  border: none !important;
  background: var(--el-color-success-dark-2) !important;
}

// Отделы
.department {
  .el-collapse:first-child {
    border: none;
  }

  .el-collapse-item__arrow {
    display: none;
  }

  .el-collapse-item__wrap {
    overflow: visible !important;
    background-color: var(--el-color-success-light-9);
    border: none;
  }

  .el-collapse-item__content {
    padding: 0;
  }

  .el-collapse-item__header {
    background-color: var(--el-color-success-light-9);
    border: none !important;
  }
}

// Уведомления в меню

.unread-count-badge {
  border-radius: 10px;
  padding: 2px 5px 2px 5px;
  margin-left: 5px;
  font-size: 12px;
  background-color: var(--el-color-success);
}

// PopupWindow

.popover-custom {
  width: 250px !important;
  border-color: var(--el-color-primary) !important;
  padding: 0 !important;

  .el-popper__arrow::before {
    border-color: var(--el-color-primary) !important;
    background-color: var(--el-color-success-light-9) !important;
  }
}

// Content (скролл)

.content {
  overflow-y: auto;
  scrollbar-width: thin; /* для Firefox */
  scrollbar-color: transparent transparent; /* для Firefox */

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
  }

  &:hover {
    scrollbar-color: rgba(144, 146, 152, 0.3) transparent; /* для Firefox */

    &::-webkit-scrollbar-thumb {
      background-color: rgba(144, 146, 152, 0.3);
    }
  }
}

// Уволенные

.fixed-collapse {
  .el-collapse-item__content {
    padding-bottom: 0;
  }
  .el-scrollbar__bar.is-horizontal {
    display: none;
  }

  .el-collapse-item__arrow {
    transform: rotate(-90deg);
    margin-right: 16px;
    color: var(--el-text-color-disabled);
    font-size: 14px;
  }

  .el-collapse-item.is-active .el-collapse-item__arrow {
    transform: rotate(90deg);
  }
}
