::selection {
  background: none;
}

::-moz-selection {
  background: none;
}

body {
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
}

// Полоса прокрутки
/* Для Chrome, Safari и Opera */
::-webkit-scrollbar {
  width: 0px; /* Убираем полосу прокрутки */
  background: transparent; /* Делаем ее прозрачной */
}

/* Для Firefox */
html {
  scrollbar-width: none; /* Убираем полосу прокрутки */
}

// Цвет подсказки меню
.menu-custom-tooltip {
  background-color: $el-color-primary !important;
  border: none !important;
}

.menu-custom-tooltip .el-popper__arrow::before {
  border: none !important;
  background: $el-color-primary !important;
}

// Цвет подсказки предпразднечных дней
.preHoliday-custom-tooltip {
  background-color: $el-color-info !important;
  border: none !important;
  margin-bottom: 2px;
}

.preHoliday-custom-tooltip .el-popper__arrow::before {
  border: none !important;
  background: $el-color-info !important;
}

// Цвет подсказки празднечных дней
.holiday-custom-tooltip {
  background-color: $el-color-danger !important;
  border: none !important;
  margin-bottom: 2px;
}

.holiday-custom-tooltip .el-popper__arrow::before {
  border: none !important;
  background: $el-color-danger !important;
}
