.menu {
  .el-menu-item.is-active {
    background-color: $main-palette-success-border;
    color: $color-primary;
  }

  &__list:not(.el-menu--collapse) {
    display: flex;
    justify-content: flex-start;
    max-width: 264px;
    height: 100vh;
  }

  &__list {
    display: flex;
    justify-content: center;
    max-width: 60px;
    z-index: 1;
    height: 100vh;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    height: 40px;
    width: 100%;
    margin-top: 18px;
    cursor: default;

    &:hover,
    &:focus {
      background-color: transparent !important;
    }
    &.is-active {
      background-color: transparent !important;
    }
  }

  &__header-collapsed {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
    margin-top: 18px;
    margin-left: 24px;
    height: 40px;
    width: 50%;

    &:hover {
      background-color: $main-palette-success-background;
      border-radius: 8px;
    }
  }

  &__icon-company {
    margin-bottom: 3px;
    z-index: 1;
  }

  &__title {
    font-weight: 900 !important;
    font-size: 24px;
    margin-left: 5px;
    color: $text-color-nav-title;
  }

  &__icon-colapse {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 0;
    cursor: pointer;
    height: 32px;
    width: 32px;

    .menu__icon-colapse-l {
      position: absolute;
      margin-right: 5px;
      height: 80%;
      width: 80%;
      color: $color-primary;
    }

    .menu__icon-colapse-r {
      position: absolute;
      margin-left: 5px;
      height: 80%;
      width: 80%;
      color: $color-primary;
    }

    &:hover {
      background-color: $main-palette-success-background;
      border-radius: 8px;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-top: 8px;
    margin-left: 17px;
    transition: none;
    height: 40px;
    border-radius: 8px;
    width: 100%;

    &:hover {
      background-color: $main-palette-success-background;
    }
  }

  &__item-collapsed {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    margin-top: 8px;
    transition: none;
    height: 40px;
    border-radius: 8px;
    width: 50%;

    &:hover {
      background-color: $main-palette-success-background;
    }
  }

  .el-icon-time,
  .el-icon-news {
    margin: 0;
  }

  &__icon {
    position: absolute;
    left: 10px;
    font-size: 24px !important;
    line-height: 20px;
  }

  &__icon-collapsed {
    font-size: 24px !important;
    line-height: 20px;
  }

  &__label {
    line-height: 25px;
    font-weight: 600;
    margin-left: 30px;
    color: $text-color-nav;
  }

  &__label-active {
    color: $color-primary;
  }

  &__item-settings {
    margin-bottom: 20px;
  }

  .active-settings {
    border: 1px solid $color-primary;
  }
}
