@mixin picker($childClass, $selectedColor) {
  position: relative;
  color: $el-text-color-regular;
  cursor: default;

  &__selected {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: $selectedColor;
    cursor: pointer;

    &:not(&--show-picker)::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 2px;
      background-color: $selectedColor;
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.4s;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-to,
  .fade-leave-from {
    opacity: 1;
  }

  &__body {
    position: absolute;
    border: 1px solid $el-border-color-lighter;
    background-color: $el-color-white;
    padding: 10px;
    left: -10px;
    border-radius: 4px;
    top: 32px;
    width: 322px;
    height: 248px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 32px;
      transform: translateX(-50%);
      width: 14px;
      height: 14px;
      background-color: $el-color-white;
    }

    &::before {
      top: -7px;
      background-color: $el-border-color-lighter;
      z-index: 1;
    }

    &::after {
      top: -6px;
      z-index: 2;
    }

    &::before,
    &::after {
      transform: translateX(-50%) rotate(45deg);
    }

    hr {
      border: none;
      border-top: 1px solid $el-border-color-lighter;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;

    i {
      cursor: pointer;
    }
  }

  &__#{$childClass} {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    place-items: center;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 73px;
      height: 64px;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        color: $el-color-success;
        font-weight: 600;
      }

      &--selected {
        color: $el-color-primary;
        font-weight: 600;
      }
    }
  }
}
