.employee-search {
  position: relative;
  background-color: $el-color-white;
  width: 248px;
  font-size: 12px;
  font-weight: 600;

  .search-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid $el-color-primary-light-8;
    border-radius: 4px;
    cursor: text;

    &--active {
      border: 1px solid $el-color-primary;
      border-radius: 4px 4px 0 0;
    }

    &__employees-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--all_close {
        margin-right: 10px;
        cursor: pointer;
      }

      .employees {
        display: flex;
        flex-direction: column;

        .employee-tag {
          display: flex;
          width: fit-content;
          align-items: center;
          background-color: $el-color-primary-light-9;
          border: 1px solid $el-color-primary-light-8;
          border-radius: 4px;
          color: $el-color-primary;
          padding: 2px 0px 2px 5px;
          height: 20px;
          margin-left: 10px;
          margin-bottom: 5px;
          cursor: default;

          &--icon {
            margin-top: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .employee-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 99.3%;
    font-weight: 400;
    height: 252px;
    overflow-y: auto;
    background-color: $el-color-white;
    border-bottom: 1px solid $el-color-primary;
    border-left: 1px solid $el-color-primary;
    border-right: 1px solid $el-color-primary;
    z-index: 1;

    &::-webkit-scrollbar {
      width: 4px; /* Ширина ползунка */
    }

    &::-webkit-scrollbar-track {
      margin-top: 5px;
      margin-bottom: 5px;
      background: transparent; /* Цвет трека (дорожки прокрутки) */
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(144, 146, 152, 0.30); /* Цвет ползунка */
      border-radius: 4px; /* Скругление углов ползунка */
    }

    &__department {
      padding: 0px 20px 0px 10px;
      font-size: 12px;
      color: $el-color-info;
      cursor: default;

      &--name {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
          border: 1px solid $el-color-primary-light-7;
          cursor: pointer;
          padding: 8px 15px;
          font-weight: 600;
          font-size: 12px;
          color: $el-text-color-regular;
          border-radius: 4px;
          background-color: $el-color-white;

          &:hover {
            background-color: $el-color-primary-light-9;
            color: $el-color-primary;
          }
        }
      }

      hr {
        border: none;
        border-top: 1px solid $el-color-primary-light-8;
      }
    }

    &__employee {
      margin-bottom: 20px;
      font-size: 14px;
      color: $el-text-color-regular;
      cursor: pointer;
    }
  }

  .input-wrapper {
    position: relative;

    .search-icon {
      position: absolute;
      left: 5px;
      top: 2px;
      color: $el-text-color-disabled;
    }

    input {
      height: 100%;
      flex-grow: 1;
      border: none;
      outline: none;
      margin-left: 20px;

      &::selection {
        background:$el-color-info;
        color: $el-color-white;
      }

      &::placeholder {
        color: $el-text-color-disabled;
      }
    }
  }
}